<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/admin/home"> Home</button>
  <button mat-button routerLink="/admin/profile"> Profile</button>
  <button *ngIf="auth.roles.includes('ADMIN')" mat-button [matMenuTriggerFor]="importMenu" > <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>import</button>
  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/admin/loadStudents"> load Studens</button>
    <button mat-menu-item routerLink="/admin/loadPayments"> load Payments</button>
  </mat-menu>
  <button mat-button *ngIf="auth.authenticated">
    {{auth.username}}
  </button>
  <button *ngIf="auth.authenticated" (click)="logout()" mat-raised-button color="accent">
    logout
  </button>
  <button *ngIf="!auth.authenticated"  mat-raised-button routerLink="/login" color="accent"> login</button>

</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="start"  opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="/admin/dashboard" mat-button>
          <mat-icon >dashboard</mat-icon>
          DashBoard</button>

      </mat-list-item>
      <mat-list-item>
        <button routerLink="/admin/students" mat-button>
          <mat-icon>dashboard</mat-icon>
          Students</button>

      </mat-list-item><mat-list-item>
      <button mat-button routerLink="/admin/payments">
        <mat-icon>dashboard</mat-icon>
        Payments</button>

    </mat-list-item>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>
    <div style="min-height: 600px"></div>
  </mat-drawer-content>
</mat-drawer-container>
